

span {
    color:red
}
h2 {
    background-color:#FEFFED;
    text-align:center;

}
#form{
    width:300px;
    padding:20px 400px 25px;

}
#email {
   
    padding:7px;
    margin-bottom:8px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;

}
input[type=submit] {

    width:300px;
    padding:7px;
    background-color:#FFBC00;
    border:2px solid #FFCB00;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;

}


